@import '@/assets/scss/_main';

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .page-name {
        display: flex;
        justify-content: center;
        color: white;
        margin-left: 45%;
        gap: 1rem;
    }

    .icon-logout {
        margin-left: 10px;
    }

    .logout-button {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .icon {
        height: 40px;
    }
}
